{% extends 'index' %}

{% block content %}

    {% set image = entry.heroImage.one() %}

    <section class="hero" style="background-image: url('{{ image.url }}')">
      <div class="hero__content content-column">

        <h1>{{ entry.heroTitle }}</h1>
        
      </div>
    </section>

    {% set featured = entry.featuredStories.all() %}

    {% for feature in featured %}


        <section class="featured-story">
              <div class="featured-story__flex content-column">

                <div class="featured-story__content">

                  <h2>{{ feature.title  }}</h2>
                  
                  <p>{{ feature.shortDescription  }}</p>

                  <p>
                    <a href="{{ siteUrl }}stories" class="cta-link">Find out more</a>
                  </p>
                  
                </div>
                
                <div class="featured-story__slider">
                  {% include "components/slider" with {
                      photos : feature.photos.all()
                  }  %}


                </div>


              </div>
            </section>

    {% endfor %}



    <section class="section section--more-padding section--light section--angled-top">
      <div class="content-column centered">

       

      {{ entry.hostsIntroContent }}

        <div class="flex-columns">
          {% for host in entry.hosts.all() %}
            {% set photo = host.photo.one() %}
            <div class="flex-columns__item">
              {% set photo = host.photo.one() %}
              <img src="{{ photo.url }}" alt="host.fullName" class="flex-columns__image">
              <h4>{{ host.fullName }}</h4>
              <p>{{ host.description }}</p>
            </div>
          {% endfor %}



          
        </div>
        
      </div>
    </section>

{% endblock %}